@import "./vars";

.car-park {
  text-align: center;

  .site-title {
    margin-top: 105px;
  }

  &__buttons-wrapper {
    margin-top: 60px;

    .btn {
      margin: 0 10px;
    }
  }
}

.car-park__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1001px;
  margin: 48px auto 0 auto;
  text-align: left;

  .arrow_right {
    position: absolute;
    top: calc(50% - 38px);
    right: -105px;
  }

  .arrow_left {
    position: absolute;
    top: calc(50% - 38px);
    left: -105px;
  }

  .car-photo {
    display: block;
    width: 641px;
    height: 453px;
  }
}

.car-info {
  width: 250px;
  margin-top: 52px;
  margin-bottom: auto;
  text-align: left;

  .site-subtitle {
    margin-top: 0;
    margin-bottom: 22px;
    text-align: left;
  }

  &-description {
    padding-left: 22px;
    line-height: 49px;
    list-style-image: url("../img/list_style.svg");

    &__text {
      padding-left: 8px;
    }
  }

  .btn {
    margin-top: 20px;
  }
}
