@import "./vars";

.car-park {
  text-align: center;

  .site-title {
    margin-top: 101px;
  }

  &__buttons-wrapper {
    margin-top: 60px;

    .btn {
      width: 201px;
      height: 50px;
      margin: 0 10px;
      background: transparent;
      border: 1px solid $border-main-color;
      border-radius: 0;
      opacity: 1;
    }
  }
}

.car {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.car-park__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1001px;
  margin: 48px auto 0 auto;
  text-align: left;

  .arrow_right {
    position: absolute;
    top: calc(60% - 40px);
    right: -105px;
  }

  .arrow_left {
    position: absolute;
    top: calc(60% - 40px);
    left: -105px;
  }

  .car-photo {
    display: block;
    width: 641px;
    height: 453px;
  }

  .swiper-wrapper {
    margin-top: 110px;
  }

  .swiper-pagination {
    top: 0;
    right: 0;
    left: 0;
    margin: 12px auto 0;
    text-align: center;
  }
}

.car-info {
  width: 250px;
  margin: 32px auto auto 0;
  text-align: left;

  .site-subtitle {
    margin-top: 0;
    margin-bottom: 22px;
    text-align: left;
  }

  &-description {
    padding-left: 22px;
    line-height: 49px;
    list-style-image: url("../img/list_style.svg");

    &__text {
      padding-left: 8px;
    }
  }

  .btn {
    margin-top: 23px;
  }
}
