@import "./vars";

.info {
  max-width: 1105px;
  margin: 0 auto;

  &__title {
    margin-top: 95px;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
  }

  &__description-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1110px;
    margin-top: 60px;
    clear: both;
  }

  &__description-item {
    margin-bottom: 50px;
    clear: both;

    .description-item {
      &__number {
        position: relative;
        float: left;
        font-size: 50px;
        font-weight: 300;
        line-height: 61px;
        color: $main-color;

        p {
          position: absolute;
          top: 0;
          right: 2px;
          color: $text-color;
        }
      }

      &__title {
        margin-top: 10px;
        margin-left: 93px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }

      &__text {
        max-width: 390px;
        margin-top: 15px;
        margin-left: 93px;
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}
