@import "./fonts";
@import "./vars";
@import "./header";
@import "./info";
@import "./price";
@import "./car_park";
@import "./review";
@import "./order";
@import "./map";
@import "./footer";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0 !important;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  position: relative;
  z-index: 5;
  display: block;
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  color: $text-color;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 1px solid $text-color;
  @include transition-out(0.2);

  &.active,
  &:hover {
    cursor: pointer;
    border: 1px solid $border-second-color;
    opacity: 0.9;
    @include transition-in(0.2);
  }

  &_red {
    width: 304px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    color: $text-color-btn;
    background: $main-btn-color;
    border: none;

    &.active,
    &:hover {
      border: none;
    }
  }

  &_yellow {
    background-color: $main-color;
    border: none;

    &.active,
    &:hover {
      border: none;
    }
  }

  &_small {
    width: 201px;
    border-color: $border-main-color;
  }

  &_medium {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
}

.site-title {
  margin-top: 95px;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
}

.site-subtitle {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.arrow {
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: 3px solid $text-color;
  border-bottom: none;
  border-left: none;
}

.arrow_right {
  transform: rotate(45deg);
}

.arrow_left {
  transform: rotate(225deg);
}

.d-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.star {
  width: 15px;
  height: 15px;
  background: url("../img/star.svg");
}

.stars-wrapper {
  display: flex;
}

//  ** custom input **
.main-input {
  width: 300px;
  height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $text-color;
}

.main-input::placeholder {
  color: $text-color-neutral;
}

//  ** custom input **

//  ** custom checkbox **
.custom-checkbox-wrapper {
  position: relative;
}

.custom-checkbox__input {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
}

.custom-checkbox__label {
  position: relative;
  top: -3px;
  padding-left: 25px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.015em;
}

.custom-checkbox__label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  content: '';
  border: 2px solid $text-color;
}

.custom-checkbox__input:checked + .custom-checkbox__label::after {
  position: absolute;
  top: 3px;
  left: 5px;
  display: inline-block;
  width: 3px;
  height: 6px;
  content: '';
  border: 2px solid $text-color;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}
//  ** custom checkbox **
