// Main colors
$main-color:        #FED100;

// Border colors
$border-main-color:    #FED100;
$border-main-color:    #EBEBEB;

// Text colors
$text-color: #333;
$text-color-neutral: rgba(51, 51, 51, 0.7);
$text-color-btn: #F2F2F2;

//Button colors
$main-btn-color: #FF352B;
$phone-btn-color: #3D9BE9;
